@charset "EUC-KR";

/* Import Montserrat and Lato fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Set global styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the header */
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

/* Style the table */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

td {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
